<!doctype html>
<html lang="zxx">
<html>

<head>
  {{!--
  <link rel='stylesheet' href='/stylesheets/style.css' /> --}}


  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>aranoz</title>
  <link rel="icon" href="img/favicon.png">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,300,400i,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500i,700" rel="stylesheet">


  <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/css/animate.css">
  <link rel="stylesheet" href="/stylesheets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/stylesheets/css/lightslider.min.css">
  <link rel="stylesheet" href="/stylesheets/css/nice-select.css">
  <link rel="stylesheet" href="/stylesheets/css/all.css">
  <link rel="stylesheet" href="/stylesheets/css/flaticon.css">
  <link rel="stylesheet" href="/stylesheets/css/themify-icons.css">
  <link rel="stylesheet" href="/stylesheets/css/magnific-popup.css">
  <link rel="stylesheet" href="/stylesheets/css/slick.css">
  <link rel="stylesheet" href="/stylesheets/css/price_rangs.css">
  <link rel="stylesheet" href="/stylesheets/css/style.css">
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>

<body>
  {{#if admin}}
  {{>adminHeader}}
  {{else}}
  {{>userHeader}}
  {{/if}}
  {{{body}}}
  {{#if admin}}
  {{>adminFooter}}
  {{else}}
  {{>footer}}
  {{/if}}


  <!-- jquery plugins here-->
  <script src="/js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="/js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- easing js -->
  <script src="/js/jquery.magnific-popup.js"></script>
  <!-- swiper js -->
  <script src="/js/swiper.min.js"></script>
  <!-- swiper js -->
  <script src="/js/lightslider.min.js"></script>
  <!-- swiper js -->
  <script src="/js/masonry.pkgd.js"></script>
  <!-- particles js -->
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="/js/slick.min.js"></script>
  <script src="/js/swiper.jquery.js"></script>
  <script src="/js/jquery.counterup.min.js"></script>
  <script src="/js/waypoints.min.js"></script>
  <script src="/js/contact.js"></script>
  <script src="/js/jquery.ajaxchimp.min.js"></script>
  <script src="/js/jquery.form.js"></script>
  <script src="/js/jquery.validate.min.js"></script>
  <script src="/js/mail-script.js"></script>
  <script src="/js/stellar.js"></script>
  <script src="/js/price_rangs.js"></script>
  <!-- custom js -->
  <script src="/js/theme.js"></script>
  <script src="/js/custom.js"></script>
  <script src="/js/ajaxScript.js"></script>


</body>

</html>