<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Favicon -->
    <!-- Datatable (JQuery library for tables)-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">


        <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>
        <!-- datatable end -->


    
</head>

<body>

  
   

   

{{{body}}}
    





   
</body>

</html>